<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <div class="img-container" *ngIf="!isLoading">
    <img src="../../../assets/images/login2.jpg" alt="" />
  </div>

  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        name="email"
        ngModel
        #emailInput="ngModel"
        type="email"
        placeholder="Email Address"
        matInput
        required
        email
      />
      <mat-error *ngIf="emailInput.invalid">
        Please enter valid email
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        name="password"
        ngModel
        #passwordInput="ngModel"
        type="password"
        matInput
        placeholder="Password"
        required
      />
      <mat-error *ngIf="passwordInput.invalid">
        Please enter a valid password
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">
      Login
    </button>
  </form>
</mat-card>
