<mat-card>
  <div class="img-container">
    <img src="../../../assets/images/login2.jpg" alt="" />
  </div>

  <form (submit)="onSignup(signupForm)" #signupForm="ngForm">
    <mat-form-field>
      <input
        name="name"
        ngModel
        #nameInput="ngModel"
        type="text"
        placeholder="Your Name"
        matInput
        required
      />
      <mat-error *ngIf="nameInput.invalid">
        Please enter your full name
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        name="email"
        ngModel
        #emailInput="ngModel"
        type="email"
        placeholder="Email Address"
        matInput
        required
        email
      />
      <mat-error *ngIf="emailInput.invalid">
        Please enter valid email
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        name="password"
        ngModel
        #passwordInput="ngModel"
        type="password"
        matInput
        placeholder="Create Password"
        required
      />
      <mat-error *ngIf="passwordInput.invalid">
        Please enter a valid password
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">
      Sign Up
    </button>
    <button mat-raised-button disabled type="submit" *ngIf="isLoading">
      Sign Up
    </button>
  </form>
</mat-card>
