/* mat-card {
  display: flex;
  flex-flow: row wrap;
} */

mat-card {
  margin-bottom: 16px;
}

mat-form-field,
textarea {
  width: 100%;
}

/* form {
  flex: 2;
} */

.img-container {
  display: flex;
  justify-content: center;
  /* flex: 1; */
}

img {
  padding: 8px;
  height: 200px;
}

@media (max-width: 600px) {
  img {
    height: 160px;
  }
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 100px;
  margin: 16px 0;
}

.image-preview img {
  max-height: 100%;
}
