<div class="container">
  <img src="../../assets/images/admin.png" alt="admin" />
  <h3 class="mat-h3 mat-subheading-2" *ngIf="username">{{ username }}</h3>
  <h3 class="mat-h3 mat-subheading-2" *ngIf="!username">Guest</h3>

  <mat-divider></mat-divider>

  <ul>
    <li>
      <a
        mat-button
        routerLinkActive="mat-accent"
        routerLink="/"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </a>
    </li>

    <span *ngIf="userIsAuthenticated">
      <li>
        <a mat-button routerLinkActive="mat-accent" routerLink="/create">
          <mat-icon>monetization_on</mat-icon>
          Sell Item
        </a>
      </li>
      <li>
        <button mat-button (click)="onLogout()">
          <mat-icon>exit_to_app</mat-icon>
          Logout
        </button>
      </li>
    </span>

    <span *ngIf="!userIsAuthenticated">
      <li>
        <a mat-button routerLinkActive="mat-accent" routerLink="/login">
          <mat-icon>people</mat-icon>
          Login
        </a>
      </li>
      <li>
        <a mat-button routerLinkActive="mat-accent" routerLink="/signup">
          <mat-icon>group_add</mat-icon>
          Sign Up
        </a>
      </li>
    </span>
  </ul>

  <div *ngIf="!userIsAuthenticated">
    <mat-divider></mat-divider>
    <p class="mat-small">Start sell your Macs by Create an Account</p>
  </div>
</div>
